/paskaita2Nd/nbproject/private/
/paskaita2Nd/build/
/paskaita2Nd/dist/
/paskaita3/nbproject/private/
/paskaita3/build/
/paskaita3/dist/
/bankomatas/nbproject/private/
/bankomatas/build/
/bankomatas/dist/