/paskaita2Nd/nbproject/private/
/paskaita2Nd/build/
/paskaita2Nd/dist/
/paskaita3/nbproject/private/
/paskaita3/build/
/paskaita3/dist/
/bankomatas/nbproject/private/
/bankomatas/build/
/bankomatas/dist/
/4paskaita/nbproject/private/
/4paskaita/build/
/4paskaita/dist/
/PersonNd/nbproject/private/
/PersonNd/build/
/PersonNd/dist/
/5paskaita/nbproject/private/
/5paskaita/build/
/5paskaita/dist/
/poker/nbproject/private/
/poker/build/
/poker/dist/
/pokerdestytojo/nbproject/private/
/pokerdestytojo/build/
/pokerdestytojo/dist/
/paskaita6/nbproject/private/
/paskaita6/build/
/paskaita6/dist/
/paskaita7/nbproject/private/
/paskaita7.1/nbproject/private/
/paskaita7.1/build/
/paskaita7.1/dist/